<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    
    <title>Tumblr Multiple File Uploader</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/style.css">
  </head>

  <body>

    <div class="container">

    	<h1>Tumblr Multiple File Uploader</h1>
	<p class="lead">If you try to upload anything other than text or photos, nothing will happen. They just won't be uploaded.</p>

	<ul>
		<li>Support for both primary and secondary blogs</li>
		<li>One post per file submission (good for portfolios)</li>
		<li>No registration required, your password won't be stored</li>
		<li>Automatically logs out and redirects to your blog</li>
	</ul>

      <form class="form-signin" role="form">
        <button type="button" class="btn btn-default btn-lg">
    		<span class="glyphicon glyphicon-user"></span> <a href='http://localhost:4567/auth/tumblr'>Login with Tumblr</a>
  		</button>
      </form>

    </div>
  </body>
</html>
